$ff: "Roboto", sans-serif;
$ff--second: "TrajanPro3", sans-serif;

$fsz: 14px;
$lh: 1.2;

$fg: #000;
$fg--gold: #d59b66;
$fg--brown: #291b15;
$fg--placeholder: #000;

$bg: #fff;
$bg--gold: #d59b66;
$bg--brown: #30201b;

$gutter: 11px;
$gutter--md: 12px;
$gutter--xl: 30px;

$page-bottom: 40px;
$page-bottom--md: 50px;
$page-bottom--xl: 100px;